div class="card"
  div class="card-body"
    div class="d-flex gap-2 w-100"
      span class="flex-grow-1 fw-bold" Nome:
      span = customer.name
    
    div class="d-flex gap-2 w-100"
      span class="flex-grow-1 fw-bold" Email:
      span = customer.email
    
    div class="d-flex gap-2 w-100"
      span class="flex-grow-1 fw-bold" Telefone:
      span = customer.mobile_phone

  div class="card-footer d-flex gap-1"
      = link_to 'Editar', edit_customer_path(customer), class: "btn btn-info"  
      - unless current_page?(customer_path(customer)) 
        = link_to 'Ver', customer_path(customer), class: "btn btn-success"  
      = link_to "Deletar", customer_path(customer), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" 
  
